<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.io.daggertestapp">

    <application
        android:name="com.io.daggertestapp.DebugApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DaggerTestApp"
        tools:ignore="AllowBackup"
        tools:replace="android:name,android:allowBackup,android:icon,android:roundIcon,android:label"
        >
        <activity
            android:name="com.io.daggertestapp.ContainerActivity"
            android:label="@string/app_name"
            />
    </application>
</manifest>